.bg{
    background-image: url(./assets/apj.jpg);
    background-position: center;
    background-size: cover;
}

.auth{
    background-image: url(./assets/authbg.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}

.hero {
    height: 90vh;
    background: url('./assets/bg.jpeg') no-repeat center center/cover;
  }
  
  .text-primary {
    color: #4A90E2 !important;
  }

  .bg{
    background-image: url(./assets/bg.jpeg);
    background-position: fixed;
  }

  image{
   
    object-fit: contain;
  }

  @media(min-width: 768px){
    details{
      height: 80vh;
    }
  }
  